
           body{
            height: 5000px;
        }

        $(function(){
  
            $(window).scroll(function(){
              //var $(window).scrollTop(); 為 scroll
              var scroll = $(window).scrollTop();
              //當卷軸超過70px，自動加上 .navbar-fixed-top ，如果小於就移除
              if( scroll >= 70){
                
                $(".navbar-scroll").addClass("navbar-fixed-top");
                
              }else{
                
                $(".navbar-scroll").removeClass("navbar-fixed-top")
                
              }
              
            });
          
          })
           nav {
            background:black;
            top:0;
            width: 100%;
            transition:all 0.5s;
            position: relative;
            z-index: 1;
          }
           
           nav   a  {
                color: inherit; /* 移除超連結顏色 */
                display: block; /* 讓 <a> 填滿 <li> */
                text-decoration: none;  /* 移除超連結底線 */
                font-size: 1.2rem; 
                padding: 10px; /* 調整間距 */
                font-weight: bold 
                
                  }

            nav > ul {
                list-style: none;   /* 移除項目符號 */
                background-color: rgb(230, 230, 230)
                list-style: none;   /* 移除項目符號 */
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-evenly;
                background-color:black;
                
            }
            .nav-link:hover { /* 滑鼠移到 <a> 時變成深底淺色 */
                background-color: rgb(115, 115, 115);
                 color: white;
                 
            }
           
      

            a {
                color:#ae8799;
                text-decoration: none;
                font-weight:bold;
            }

            a:hover{
                color: #9899a6;
                text-decoration: none;
                font-weight:bold;
            }

            h2{
                
                line-height: 1.5;
                margin-left: 30px;
            }

            h3{
                line-height: 1.5;
                margin-left: 30px;
            }
           
            p {
                line-height: 1.5;
                text-indent: 36px;
                margin-left: 30px;
                margin-right: 30px;
                text-align: justify;
                text-justify:inter-ideograph;
            }

            img {
                line-height: 1.5;
                text-indent: 36px;
                margin-left: 30px;
                margin-right: 30px;
                text-align: justify;
                text-justify:inter-ideograph;
            }
            
            
            .video{
                display: flex;
                margin: auto ;
                justify-content：center； 　/*主軸對齊方式：居中*/
                align-items:center；
                                      }



            table{
                    margin-left:auto; 
                    margin-right:auto;
                    padding: 50px; /* 調整間距 */    
                    text-decoration: none;  /* 移除超連結底線 */
                    color: inherit; /* 移除超連結顏色 */
                     }
            
                     .coverflow.coverflow{
                        width: 700px;
                        height: 490px;
                        position: relative;
                    }
                    .coverflow.coverflow>a{
                        display: block;
                        position: absolute;
                        top:0;
                        left:0;
                        opacity: 0;
                        filter: alpha(opacity=0);
                    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
                     -webkit-animation: silder 15s linear infinite;
                     animation: silder 15s linear infinite;
                    }
                    .coverflow.coverflow>a>img{
                        max-width: 100%;
                    }
                    /*動畫關鍵影格*/
                    @-webkit-keyframes silder {
                        3% {
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }
                        27% {
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }
                        30% {
                            opacity: 0;
                            filter: alpha(opacity=0);
                        }
                    }
                    @keyframes silder {
                        3% {
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }
                        27% {
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }
                        30% {
                            opacity: 0;
                            filter: alpha(opacity=0);
                        }
                    }

                    /*每個圖片各延遲5秒*/
                    .coverflow.coverflow{
                    display:block; margin:auto;
                    }
                    .coverflow>a:nth-child(3) {
                        -webkit-animation-delay: 10s;
                                animation-delay: 10s;               
                    }
                    .coverflow>a:nth-child(2) {
                        -webkit-animation-delay: 5s;
                                animation-delay: 5s;
                    }
                    .coverflow.coverflow>a:nth-child(1) {
                        -webkit-animation-delay: 0s;
                                animation-delay: 0s;    
                    }
                    /*滑入時停止播放*/
                    .coverflow:hover>a{
                    -webkit-animation-play-state: paused;
                            animation-play-state: paused;
                    }
                    .coverflow{
                        width: 700px;
                        height: 490px;
                        position: relative;
                    }
                    .coverflow>a{
                        display: block;
                        position: absolute;
                        top:0;
                        left:0;
                        opacity: 0;
                        filter: alpha(opacity=0);
                    
 
                    
        
   
@media(max-width:768px){
    .news li{
        width: 44%; 
    }
}
@media(max-width:569px){
    .news li{
        width: 94%; 
        float:none;
    }
}