

            nav   a  {
                color: inherit; /* 移除超連結顏色 */
                display: block; /* 讓 <a> 填滿 <li> */
                text-decoration: none;  /* 移除超連結底線 */
                font-size: 1.2rem; 
                padding: 10px; /* 調整間距 */
                                       }

            nav > ul {
                list-style: none;   /* 移除項目符號 */
                background-color: rgb(230, 230, 230);
                list-style: none;   /* 移除項目符號 */
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-evenly;
            }
            nav li:hover { /* 滑鼠移到 <a> 時變成深底淺色 */
                background-color: rgb(115, 115, 115);
                 color: white;
                 
            }
           
            nav   a  {container-fluid}

            p {
                line-height: 1.5;
                text-indent: 36px;
                
                ;            }
            .video{
                   align-items: center ;
                                      }

            table{
                    margin-left:auto; 
                    margin-right:auto;
                    padding: 50px; /* 調整間距 */    
                    text-decoration: none;  /* 移除超連結底線 */
                    color: inherit; /* 移除超連結顏色 */
                     }
            
@media(max-width:768px){
    .news li{
        width: 44%; 
    }
}
@media(max-width:569px){
    .news li{
        width: 94%; 
        float:none;
    }
}